.creations {
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;

  @include for-tablet-portrait-up {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5.5rem;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    order: 1;
    font-size: 2.1rem;

    @include for-tablet-portrait-up {
      font-size: 3.2rem;
    }
  }

  &__button {
    order: 3;
    background: none;
    border: 2px solid $very-dark-gray;
    color: $black;
    @include font-default;
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 5px;
    text-align: center;
    margin: 0.75rem auto 1rem auto;
    padding: 0.8rem 2.5rem;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;

    @include for-tablet-portrait-up {
      order: 2;
      margin: 0;
      font-size: 1rem;

      &:hover {
        color: $white;
        background: $black;
      }

      &:active {
        background: $very-dark-gray;
      }
    }
  }

  &__gallery {
    order: 2;
    margin-top: 1.2rem;

    @include for-tablet-portrait-up {
      margin-top: 2.4rem;
      order: 3;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    & .card {
      position: relative;
      margin-bottom: 1.5rem;
      box-shadow: 0px 0px 12px -9px rgba(0,0,0,0.35);
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(90deg, rgba($black, 0.6) 0%, transparent 100%);

        @include for-tablet-portrait-up {
          background: linear-gradient(180deg, transparent 0%, rgba($black, 0.6) 100% );
        }
      }

      &:hover {
        & .card__title {
          @include for-tablet-portrait-up {
            color: $black;
          }
        }

        &::before {
          @include for-tablet-portrait-up {
            background: linear-gradient(180deg, rgba($white, 0.7) 30%, rgba($light-gray, 0.9) 100% );
          }
        }
      }

      &__image > * {
        // Remove whitespace on picture's children (source and img)
        display: block;
      }

      &__text {
        position: absolute;
        bottom: 2.2rem;
        left: 2.2rem;
        bottom: 17%;
        left: 6%;
        text-align: left;

        @include for-tablet-portrait-up {
          left: 2.7rem;
          bottom: 2.1rem;
        }
      }

      &__title {
        color: $white;
        font-size: 1.55rem;
        line-height: 1;
        margin: 0;

        & span {
          display: block;
        }

        @include for-tablet-portrait-up {
          font-size: 2.1rem;
        }
      }
    }
  }
}
