.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 2.5rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  &__logo {
    width: 150px;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkgray;
    z-index: 2;
    display: none;
  }

  &__toggle {
    width: 25px;
    height: 25px;
    background: url("../images/icon-hamburger.svg") no-repeat;
    background-position: center;
    background-size: contain;
  }
}
