.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 1;
  transition: background 0.2s ease;

  @include for-tablet-portrait-up {
    position: absolute;
    top: 2.4rem;
  }

  &--scrolled {
    background: $black;

    @include for-tablet-portrait-up {
      background: none;
    }
  }

  &--active {
    & .navbar__menu {
      transform: translateX(0);
    }

    & .navbar__logo {
      position: relative;
      z-index: 3;
    }

    & .navbar__toggle {
      position: relative;
      z-index: 3;
      background: url("../images/icon-close.svg") no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem;

      @include for-tablet-portrait-up {
        padding: 1rem 0;
      }
  }

  &__logo {
    width: 140px;
    cursor: pointer;

    @include for-tablet-portrait-up {
      position: static;
      display: block;
      height: auto;
      width: 192px;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding-top: 14.5rem;
    height: 100vh;
    background: $black;
    transition: transform 0.2s ease;
    transform: translateX(-2000px);

    @include for-tablet-portrait-up {
      position: static;
      transform: translateX(0);
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      background: none;
      height: auto;
    }

    &-item {
      @include font-title;
      font-size: 1.55rem;
      margin-left: 1.5rem;
      margin-bottom: 1.4rem;

      @include for-tablet-portrait-up {
        @include font-default;
        text-transform: none;
        font-size: 1rem;
        margin: 0;
        margin-left: 2.2rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 140%;
          top: calc(100% + 12px);
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background: $white;
          transition: width 0.2s;
        }

        &:hover {
          &::before {
            width: 50%;
          }
        }
      }
    }
  }

  &__toggle {
    width: 24px;
    height: 24px;
    background: url("../images/icon-hamburger.svg") no-repeat;
    background-position: center;
    background-size: contain;
    outline-offset: 3px;
    cursor: pointer;

    @include for-tablet-portrait-up {
      display: none;
    }
  }
}
