// Colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$light-gray: hsl(0%, 0%, 80%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// Typography
$font-size: 15px;

// Sizes
$container-width: 1112px;

// Mixins
@mixin font-default {
  font-family: "Alata", Arial, sans-serif;
  font-weight: 400;
}

@mixin font-title {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

// Media queries
@mixin for-extra-small-up {
  @media (min-width: 374px) {
    @content;
  }
}

@mixin for-small-up {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin for-medium-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-large-up {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin for-container-width-up {
  @media (min-width: $container-width) {
    @content;
  }
}
